.addTask {
    width: 98%;
    margin: 0 auto;
}

.addTask span:nth-child(1) {
    font-weight: 500;
}

.addTask input {
    display: block;
    width: calc(100% - 4px);
    height: 1.5rem;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #969696;
    background-color: #ddd;
    padding-left: 5px;
}