.App {
  height: 100vh;
  background-color: #ddd;
  font-size: 10px;
}

.wrapper {
  margin: 0 auto;
  min-width: 400px;
  max-width: 800px;
  display: grid;
  grid-template-areas: '. . header . .' 'list list list list list' 'main main main main main';
}

.header {
  grid-area: header;
  text-align: center;
}

.header h1 {
  margin-top: 60px;
  font-weight: 500;
  font-size: 3.5rem;
  color: #800080;
}

.list {
  grid-area: list;
  padding: 30px 0 50px 20px;
}

.main {
  grid-area: main;
}

.addTask {
  width: 98%;
  margin: 0 auto;
}

.addTask input {
  display: block;
  width: calc(100% - 4px);
  background-color: #ddd;
  margin-top: 5px;
  border: 2px solid lightskyblue;
  height: 1.5rem;
}