.App {
  height: 100vh;
  background-color: #ddd;
  font-size: 10px;
}

.wrapper {
  margin: 0 auto;
  min-width: 400px;
  max-width: 800px;
  display: grid;
  grid-template-areas: '. . header . .' 'list list list list list' 'main main main main main';
}

.header {
  grid-area: header;
  text-align: center;
}

.header h2 {
  margin-top: 60px;
  margin-block-end: 20px;
  font-weight: 500;
  font-size: 3.1rem;
  color: #800080;
}

.list {
  grid-area: list;
  padding: 10px 0 80px 0;
  font-size: 1.1rem;
}

.main {
  grid-area: main;
}

